[submodule "courses/StatsWithJuliaBook"]
	path = courses/StatsWithJuliaBook
	url = https://github.com/h-Klok/StatsWithJuliaBook.git
[submodule "courses/18S191"]
	path = courses/18S191
	url = https://github.com/mitmath/18S191.git
[submodule "courses/JuliaDataScience"]
	path = courses/JuliaDataScience
	url = https://github.com/JuliaDataScience/JuliaDataScience.git
[submodule "courses/JuliaBasics"]
	path = courses/JuliaBasics
	url = https://github.com/hyper0x/JuliaBasics.git
[submodule "courses/SciMLTutorials.jl"]
	path = courses/SciMLTutorials.jl
	url = https://github.com/SciML/SciMLTutorials.jl
